.header {
    background-color: #131921;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
    width: 100px;
}

.header__search{
    display: flex;
    flex: 1;
}

.header__searchInput {
    height: 12px;
    padding: 20px;
    border: none;
    width: 100%;
}
.header__searchIcon {
    padding: 5px;
    height: 2.5rem !important;
    background-color: #cd9042;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}

.header__optionone{
    font-size: 13px;
}

.header__optiontwo {
    font-size: 16px;
    font-weight: 800;
}

.header__optioncart {
    display: flex;
    align-items: center;

}

.header__cartcount {
    margin-left: 5px;
    margin-right: 5px;
}